@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Magra:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header--color: white;
    --button--color:#2091F9;
    --main--color: #252B42;
    --subtitle--color:#374754;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Magra', sans-serif;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style-type: none; 
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
.button {
    max-width: 236px;
    padding: 16px 56px;
    font-weight: 400;
    font-size: 1.25rem;
    background-color: #2091F9;
    border-radius: 35px;
    text-decoration: none;
}

