.header {
    background-image: url(../img/back-icon.png);
    min-height: 932px;
    background-size: cover;
    background-position: 50%, 50%;
}
.container__link {
    text-decoration: none;
    color: white;
}
.container__link:hover {
    text-decoration: underline;
}
.figma-logo {
    width: 206px;
    height: 68px;
}

.header__figma {
    margin: auto;
    color: white;
    padding: 30px;
}

.header__title {
    font-size: 3rem;
    font-weight: 400;
    padding: 30px;

}

.header__text {
    font-size: 1.75rem;
    line-height: 40px;
    font-weight: 400;
    padding: 50px;
}
