.header {
    background-image: url(../img/back-icon.png);
    min-height: 932px;
    background-size: cover;
    background-position: 50%, 50%;
}
.nav__menu, .social-networks {
    display: none;
}
.figma-logo {
    width: 186px;
    height: 58px;
    padding: 10px 30px 0 15px;
    position: absolute;
}

.header__figma {
    padding: 192px 10px 166px;
    margin: auto;
}

.header__title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
    color:var(--header--color)
}

.header__text {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    color:var(--header--color);
    padding-top: 60px;
}

.social-networks {
    padding-right: 30px;
}

@media (min-width: 800px) {
.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    }


.nav__menu {
    display: flex;
    justify-content: space-around;
    flex: 1;
}
.figma-logo {
    padding: 0;
    margin: auto;
}

.social-networks {
    display: flex;
    margin-left: 45%;
    margin-right: 5%;
}
.header__title {
    font-weight: 700;
    font-size: 74px;
    line-height: 84px;

}


}
